.product-catalog__order-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}

.sort-order__group {
  display: flex;
  align-items: center;
}
.sort-order__buttons-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sort-order__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #373737;
  transition: all 0.3s;
  display: flex;
  width: max-content;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.sort-order__button svg {
  display: block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  pointer-events: none;
}
.sort-order__button:hover, .sort-order__button:active, .sort-order__button:focus, .sort-order__button.active {
  color: #67cb33;
}

.sort-order__link {
  color: #373737;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sort-order__link:hover, .sort-order__link:active, .sort-order__link:focus, .sort-order__link.active {
  color: #67cb33;
}

.switch-sorting-order {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #373737;
  transition: all 0.3s;
  display: flex;
  width: max-content;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.switch-sorting-order svg {
  width: 8px;
  height: 8px;
  display: block;
  flex-shrink: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.switch-sorting-order.min-start svg {
  transform: rotate(0);
}
.switch-sorting-order.max-start svg {
  transform: rotate(180deg);
}

.view-list {
  display: none;
}

.view-tile {
  display: none;
}

.catalog-view-tile .view-tile {
  display: block !important;
}

.catalog-view-list .view-list {
  display: block !important;
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 0.3s;
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
  padding: 5px;
  gap: 0;
  position: relative;
  z-index: 2;
}
.button-icon svg {
  display: block;
  flex-shrink: 0;
  pointer-events: none;
  width: 23px;
  height: 21px;
  position: relative;
  z-index: 20;
}

.view-list .product-catalog__card-list {
  display: block;
}

.card-simple {
  width: 100%;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
.card-simple__grid {
  display: grid;
  gap: 32px;
  align-items: center;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 1fr 5fr 1fr 2fr;
}
.card-simple__image {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  align-self: flex-start;
}
.card-simple__image img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.card-simple__image .product-card__label {
  position: absolute;
  top: 0;
  left: 0;
}
.card-simple__image .product-card__label svg {
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  display: block;
  flex-shrink: 0;
}
.card-simple__right {
  margin-left: auto;
  max-width: 225px;
  width: 100%;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.card-simple .product-card__price {
  font-size: 18px;
}
.card-simple .product-card__label {
  height: 24px;
}
.card-simple__label-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1px;
}
.card-simple .product-card__label {
  margin: 0;
}
.card-simple .product-card__title {
  margin: 0;
}
.card-simple .product-card__price-small {
  font-size: 14px;
  color: #909090;
  display: block;
  font-weight: 500;
}
.card-simple .product-card__image-label {
  position: relative;
  margin-bottom: 9px;
  bottom: initial;
  left: initial;
  right: initial;
  top: initial;
}
.card-simple .product-card__options {
  margin-left: 0;
}
.card-simple .product-card__details {
  width: 100%;
  left: 0 !important;
  bottom: initial;
  top: 100%;
  right: 0;
  padding: 16px 24px;
}
.card-simple .product-card__details:after {
  right: 14%;
  bottom: initial;
  top: -20px;
  transform: rotate(180deg);
}
.card-simple .product-card__details .catalog-filter {
  max-height: initial;
  overflow-y: initial;
  padding-right: 0;
  display: grid;
  gap: 15px 48px;
  grid-template-columns: repeat(4, 1fr);
}
.card-simple .product-card__details li {
  border-bottom: none;
  padding: 0;
}
.card-simple .product-card__details .button {
  max-width: max-content;
  margin-left: auto;
  padding: 10px 24px;
  align-items: center;
  line-height: 1;
  margin-top: 24px;
}
.card-simple .product-card__label--new {
  display: flex !important;
}
@media (max-width: 1439px) {
  .card-simple .card-simple__grid {
    gap: 16px;
  }
  .card-simple .product-card__details .catalog-filter {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1023px) {
  .card-simple .card-simple__grid {
    gap: 16px;
    grid-template-columns: 2fr 7fr;
  }
}
@media (max-width: 650px) {
  .card-simple .card-simple__grid {
    gap: 16px;
    grid-template-columns: 2fr 7fr;
  }
  .card-simple .product-card__details .catalog-filter {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-simple .product-card__details:after {
    right: 37% !important;
    bottom: initial !important;
    top: -20px;
    left: initial !important;
  }
  .card-simple .product-card__details .catalog-filter {
    max-height: 320px;
    overflow-y: auto;
    padding-right: 10px;
    gap: 0;
  }
  .card-simple .product-card__details {
    padding: 16px;
  }
  .card-simple .product-card__details li {
    border-bottom: 1px dashed #d9d9d9;
    padding: 16px 0;
  }
}
@media (max-width: 620px) {
  .card-simple .card-simple__price-group .product-card__details:after {
    left: initial !important;
  }
}
@media (max-width: 550px) {
  .card-simple .card-simple__grid {
    gap: 0 16px;
    grid-template-columns: 96px 1fr;
  }
  .card-simple .card-simple__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    padding-bottom: 34px;
  }
  .card-simple .card-simple__details {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .card-simple .card-simple__label-group {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: repeat(2, auto);
    max-width: max-content;
    margin-bottom: 10px;
  }
  .card-simple .card-simple__right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .card-simple .product-card__image-label {
    position: absolute;
    margin-bottom: 0;
    bottom: 10px;
    left: 0;
  }
  .card-simple .product-card__subtitle {
    font-size: 13px;
  }
  .card-simple .product-card__title {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .card-simple .product-card__price {
    font-size: 16px;
  }
  .card-simple .product-card__options {
    font-size: 13px;
  }
  .card-simple .button-icon {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
  }
  .card-simple .card-simple__right {
    max-width: 100%;
    gap: 16px;
  }
}

@media (max-width: 650px) {
  .product-catalog__order-grid {
    gap: 12px;
    grid-template-columns: 1fr;
  }
  .product-catalog__order {
    margin-bottom: 21px;
  }
}