@charset "utf-8";

@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }

  70% {
    transform: translateY(calc(30px - 50%)) translateX(-50%);
  }

  90% {
    transform: translateY(calc(-10px - 50%)) translateX(-50%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%) translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-50%) translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-50%) translateX(10px);
  }
}
// переменные
:root {
  --Oswald: "Oswald", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --Rubik: "Rubik", sans-serif;

  --text: #5f5f5f;
  --text2: #909090;
  --bg: #ffffff;
  --line: #d9d9d9;
  --line2: #909090;

  --Darkgrey: #373737;
  --Gray: #F7F7F7;
  --Gray2: #EAEAEA;

  --Green: #67cb33;
  --GreenOver: #44a611;

  --Dark: #1c1e20;

  --Yellow: #ffe603;

  --White: #ffffff;
  --Black: #000000;

  --font-size: 16px;
}

.grid-mod {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, (minmax(150px, 1fr)));
}

.mobile-search-open {
  overflow: hidden;

  .header {
    border-color: transparent;
  }
}
.mobile-menu-open {
  overflow: hidden;
}

// a:not(.classy) {
//   color: red;
// }

@import "site/fonts";
@import "site/global";
// служебные
@import "bem/list-reset";
@import "bem/visually-hidden";
@import "bem/wrapper";
@import "bem/button";
// повторяющиеся
@import "bem/title";
@import "bem/subtitle";
@import "bem/logo";
@import "bem/menu";
@import "bem/tel";
@import "bem/custom-select";
@import "bem/search";
@import "bem/user-panel";
@import "bem/menu-button";
@import "bem/section";
@import "bem/link-more";
@import "bem/statistics-panel";
@import "bem/statistics-card";
@import "bem/article-preview";
@import "bem/order-search";
@import "bem/order-list";
@import "bem/order-item";
@import "bem/accordion";
@import "bem/number";
@import "bem/cart-button";
@import "bem/email";
@import "bem/copyright";
@import "bem/site-developers";
@import "bem/ronald";


// Смысловые секции
@import "sections/header";
@import "sections/mobile-menu";
@import "sections/mobile-user-panel";
@import "sections/mobile-search";
@import "sections/catalog-preview";
@import "sections/posts-preview";
@import "sections/footer";
