@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }
  70% {
    transform: translateY(calc(30px - 50%)) translateX(-50%);
  }
  90% {
    transform: translateY(calc(-10px - 50%)) translateX(-50%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(-50%) translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-50%) translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-50%) translateX(10px);
  }
}
:root {
  --oswald: "Oswald", sans-serif;
  --roboto: "Roboto", sans-serif;
  --rubik: "Rubik", sans-serif;
  --text: #5f5f5f;
  --bg: #ffffff;
  --line: #D9D9D9;
  --green: #67CB33;
  --GreenOver: #44A611;
  --white: #ffffff;
  --font-size: 16px;
}

@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/Rubik.woff2") format("woff2"), url("../fonts/Rubik.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/Rubikmedium.woff2") format("woff2"), url("../fonts/Rubikmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubikbold.woff2") format("woff2"), url("../fonts/Rubikbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik Black"), local("Rubik-Black"), url("../fonts/Rubikblack.woff2") format("woff2"), url("../fonts/Rubikblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Oswald";
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswaldregular.woff2") format("woff2"), url("../fonts/Oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Oswald";
  src: local("Oswald DemiBold"), local("Oswald-DemiBold"), url("../fonts/Oswalddemibold.woff2") format("woff2"), url("../fonts/Oswalddemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/Oswaldmedium.woff2") format("woff2"), url("../fonts/Oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Oswald";
  src: local("Oswald Bold"), local("Oswald-Bold"), url("../Oswaldbold.woff2") format("woff2"), url("../Oswaldbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  background-color: var(--bg);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto";
  font-style: normal;
  color: var(--text);
  position: relative;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: transparent !important;
}

li::marker {
  color: var(--green);
}

.wrapper {
  max-width: 1600px;
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 650px) {
  .wrapper {
    padding: 0 20px;
  }
}

.button {
  display: block;
  text-align: center;
  padding: 16px 24px;
  background-color: var(--green);
  border-radius: 0;
  color: var(--white);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 1;
  border: none;
  max-width: max-content;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}
.button span {
  pointer-events: none;
  position: relative;
  z-index: 10;
}
.button .decorate {
  position: absolute;
  z-index: 4;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: var(--GreenOver);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s, color 0.3s, background-color 0.4s;
}
.button:hover .decorate {
  width: 1000px;
  height: 1000px;
  pointer-events: none;
}
.button--icon {
  position: relative;
  padding: 13px;
  width: 100%;
  height: 100%;
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button--icon svg {
  position: absolute;
  pointer-events: none;
  max-width: 20px;
  max-height: 20px;
  display: block;
  margin: auto;
  transition: all 0.4s;
  overflow: visible;
  z-index: 10;
}
.button--icon:hover path {
  stroke: var(--white);
}
.button--border {
  background-color: var(--white);
  border: 1px solid var(--line);
}
.button--border:hover {
  border: 1px solid var(--GreenOver);
}
.button--text-icon {
  display: grid;
  grid-template-columns: 16px 1fr;
  gap: 24px;
  align-items: baseline;
  justify-content: center;
  padding: 16px 24px;
  position: relative;
}
.button--text-icon::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../../img/icons/dotted.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 10;
}
.button--text-icon.active::before {
  background-image: url(../../img/icons/close.svg);
}