@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }
  70% {
    transform: translateY(calc(30px - 50%)) translateX(-50%);
  }
  90% {
    transform: translateY(calc(-10px - 50%)) translateX(-50%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(-50%) translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-50%) translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-50%) translateX(10px);
  }
}
:root {
  --Oswald: "Oswald", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --Rubik: "Rubik", sans-serif;
  --text: #5f5f5f;
  --text2: #909090;
  --bg: #ffffff;
  --line: #d9d9d9;
  --line2: #909090;
  --Darkgrey: #373737;
  --Gray: #F7F7F7;
  --Gray2: #EAEAEA;
  --Green: #67cb33;
  --GreenOver: #44a611;
  --Dark: #1c1e20;
  --Yellow: #ffe603;
  --White: #ffffff;
  --Black: #000000;
  --font-size: 16px;
}

.grid-mod {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.mobile-search-open {
  overflow: hidden;
}
.mobile-search-open .header {
  border-color: transparent;
}

.mobile-menu-open {
  overflow: hidden;
}

@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/Rubik.woff2") format("woff2"), url("../fonts/Rubik.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/Rubikmedium.woff2") format("woff2"), url("../fonts/Rubikmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubikbold.woff2") format("woff2"), url("../fonts/Rubikbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  src: local("Rubik Black"), local("Rubik-Black"), url("../fonts/Rubikblack.woff2") format("woff2"), url("../fonts/Rubikblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Oswald";
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswaldregular.woff2") format("woff2"), url("../fonts/Oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Oswald";
  src: local("Oswald DemiBold"), local("Oswald-DemiBold"), url("../fonts/Oswalddemibold.woff2") format("woff2"), url("../fonts/Oswalddemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Oswald";
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/Oswaldmedium.woff2") format("woff2"), url("../fonts/Oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Oswald";
  src: local("Oswald Bold"), local("Oswald-Bold"), url("../Oswaldbold.woff2") format("woff2"), url("../Oswaldbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  background-color: var(--bg);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto";
  font-style: normal;
  color: var(--text);
  position: relative;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: transparent !important;
}

li::marker {
  color: var(--Green);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.wrapper {
  max-width: 1600px;
  padding: 0 50px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 650px) {
  .wrapper {
    padding: 0 20px;
  }
}

.button {
  font-family: var(--Oswald);
  display: block;
  text-align: center;
  padding: 16px 24px;
  background-color: var(--Green);
  border-radius: 0;
  color: var(--White);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 1;
  border: none;
  max-width: max-content;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  height: 48px;
}
.button span {
  pointer-events: none;
  position: relative;
  z-index: 10;
}
.button .decorate {
  position: absolute;
  z-index: 4;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: var(--GreenOver);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s, color 0.3s, background-color 0.4s;
}
.button:hover .decorate {
  width: 100px;
  height: 100px;
  pointer-events: none;
}
.button--icon {
  position: relative;
  padding: 13px;
  width: 100%;
  height: 100%;
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button--icon svg {
  position: absolute;
  pointer-events: none;
  max-width: 20px;
  max-height: 20px;
  display: block;
  margin: auto;
  transition: stroke 0.4s, transform 0.4s;
  overflow: visible;
  z-index: 10;
}
.button--icon svg path {
  transition: stroke 0.4s;
}
.button--icon:hover path {
  stroke: var(--Yellow);
}
.button--border {
  background-color: var(--White);
  border: 1px solid var(--line);
}
.button--border:hover {
  border: 1px solid var(--GreenOver);
}
.button--text-icon {
  display: grid;
  grid-template-columns: 16px 1fr;
  gap: 24px;
  align-items: baseline;
  justify-content: center;
  padding: 16px 24px;
  position: relative;
}
.button--text-icon::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='2' height='2' fill='white'/%3e%3crect y='7' width='2' height='2' fill='white'/%3e%3crect y='14' width='2' height='2' fill='white'/%3e%3crect x='7' width='2' height='2' fill='white'/%3e%3crect x='7' y='7' width='2' height='2' fill='white'/%3e%3crect x='7' y='14' width='2' height='2' fill='white'/%3e%3crect x='14' width='2' height='2' fill='white'/%3e%3crect x='14' y='7' width='2' height='2' fill='white'/%3e%3crect x='14' y='14' width='2' height='2' fill='white'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 10;
}
.button--text-icon:hover::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='2' height='2' fill='%23FFE603'/%3e%3crect y='7' width='2' height='2' fill='%23FFE603'/%3e%3crect y='14' width='2' height='2' fill='%23FFE603'/%3e%3crect x='7' width='2' height='2' fill='%23FFE603'/%3e%3crect x='7' y='7' width='2' height='2' fill='%23FFE603'/%3e%3crect x='7' y='14' width='2' height='2' fill='%23FFE603'/%3e%3crect x='14' width='2' height='2' fill='%23FFE603'/%3e%3crect x='14' y='7' width='2' height='2' fill='%23FFE603'/%3e%3crect x='14' y='14' width='2' height='2' fill='%23FFE603'/%3e%3c/svg%3e ");
}
.button--label {
  overflow: visible;
}
.button--label .number {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--White);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--Green);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -4px;
  pointer-events: initial;
}
.button--combo .on {
  display: none;
}
.button--combo .off {
  display: block;
}
.button--combo.open .on {
  display: block;
}
.button--combo.open .off {
  display: none;
}
.button--mobile {
  display: none;
}
@media (max-width: 550px) {
  .button--mobile {
    display: flex;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--Oswald);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--Darkgrey);
}

.title {
  margin: 0;
  display: block;
  max-width: max-content;
  font-family: var(--Oswald);
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--Dark);
}
.title--mid {
  font-size: 22px;
  line-height: 1.45;
  color: var(--Darkgrey);
}
.title--min {
  font-size: 20px;
  line-height: 1.4;
  color: var(--Darkgrey);
}
.title--lit {
  font-size: 18px;
  line-height: 1.33;
  color: var(--Darkgrey);
}

.subtitle {
  font-family: var(--Roboto);
  display: block;
  max-width: max-content;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: var(--Darkgrey);
  margin: 0;
}

.title + .subtitle {
  margin-top: 21px;
}

.logo {
  max-width: 122px;
}
.logo a {
  display: block;
  transition: opacity 0.3s;
  opacity: 0.8;
}
.logo a:hover {
  opacity: 1;
}
.logo img {
  display: block;
  width: 100%;
}

.menu ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.menu li {
  margin: 0 10px;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.menu li:first-child {
  margin-left: 0;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  font-family: var(--Roboto);
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: var(--Darkgrey);
  text-decoration: none;
  transition: color 0.3s;
  padding: 20px 20px;
  display: block;
  position: relative;
  z-index: 2;
}
.menu a:hover {
  font-weight: 500;
  color: var(--GreenOver);
}
.menu .menu__link--mod span {
  position: relative;
}
.menu__item--mod {
  position: relative;
}
.menu__item--mod:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
  height: 60px;
  width: 100%;
  z-index: 5;
}
.menu__item--mod .menu__link--mod {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 11;
}
.menu__item--mod .menu__link--mod::after {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%2344A611' stroke-width='2'/%3e%3c/svg%3e ");
  width: 9px;
  height: 5px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 7px;
  z-index: 2;
}
.menu__sublist {
  position: absolute;
  width: 265px;
  left: 0;
  transition: box-shadow 0.3s, opacity 0.3s;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 10px;
}
.menu__sublist:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 0;
}
.menu__sublist li {
  background-color: transparent !important;
  box-shadow: none !important;
  margin: 0;
  max-width: 100%;
  width: 100%;
}
.menu__sublist a {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  padding: 16px 20px;
  padding-left: 32px;
  transition: all 0.3s;
  margin-left: 0;
}
.menu__sublist a span {
  flex-grow: 2;
}
.menu__sublist a::before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9L5 5L1 1' stroke='%2344A611' stroke-width='2'/%3e%3c/svg%3e ");
  width: 5px;
  height: 9px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 21px;
  transition: all 0.3s;
}
.menu__sublist a:hover::before {
  margin-left: 8px;
}
.menu__item--mod:hover {
  background-color: var(--bg);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.menu__item--mod:hover .menu__sublist {
  opacity: 1;
  pointer-events: initial;
  background-color: var(--bg);
}
.menu__item--mod:hover .menu__sublist:before {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1200px) {
  .menu li {
    margin: 0 5px;
  }
  .menu a {
    padding: 20px 10px;
  }
  .menu .menu__sublist li {
    margin: 0;
  }
  .menu .menu__sublist a {
    padding: 16px 20px;
    padding-left: 32px;
  }
}

.tel {
  display: flex;
  align-items: center;
  position: relative;
  max-width: max-content;
}
.tel::before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.64678 14.3532C12.2349 18.9413 16.6178 19.9122 18.2355 20C19.2688 18.4856 19.706 17.2353 20 16.1177C18.8824 15.0296 17.2552 13.919 15.7648 13.2941L14.0003 15.059C13.3974 14.8973 11.7427 14.2135 9.76463 12.2354C7.78703 10.2578 7.10271 8.60313 6.94099 8.00017L8.70595 6.2352C8.08103 4.74427 6.97044 3.11758 5.88231 2C4.76474 2.29399 3.51439 2.73074 2 3.76496C2.08835 5.38217 3.05868 9.76463 7.64678 14.3532Z' stroke='%2344A611' stroke-width='2' stroke-miterlimit='10'/%3e%3c/svg%3e ");
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.tel a {
  font-family: var(--Oswald);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  text-align: right;
  color: rgba(55, 55, 55, 0.9);
  flex-grow: 2;
  transition: color 0.3s;
}
.tel a:hover {
  color: var(--Darkgrey);
}

.custom-select {
  position: relative;
  font-family: var(--Roboto);
  max-width: max-content;
}
.custom-select__selected {
  background-color: var(--White);
  padding: 11px 16px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: var(--line);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.custom-select__selected:after {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%2344A611' stroke-width='2'/%3e%3c/svg%3e ");
  width: 9px;
  height: 5px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 7px;
  flex-shrink: 0;
}
.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--White);
  border: 1px solid;
  border-color: var(--line);
  border-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--Darkgrey);
  z-index: 20;
  display: none;
}
.custom-select__option {
  padding: 12px 24px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.custom-select__option:hover {
  background-color: var(--Green);
  color: var(--White);
}
.custom-select.open .custom-select__selected {
  background-color: var(--White);
}
.custom-select.open .custom-select__options {
  display: block;
}

.search__wrapper {
  display: flex;
  justify-content: space-between;
}
.search input {
  border: 1px solid;
  border-color: var(--line);
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--text2);
  padding: 11px 24px;
  padding-right: 5px;
  border-radius: 0;
  outline: none;
  flex-grow: 2;
  margin: 0;
}
.search button {
  position: relative;
  margin-left: -2px;
}

.user-panel ul {
  display: grid;
  place-items: center;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  max-width: max-content;
}

.menu-button {
  display: none;
}
@media (max-width: 1023px) {
  .menu-button {
    display: flex;
  }
}

.section {
  padding: 35px 0 45px;
}
.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section__header .title {
  margin-right: 12px;
  max-width: 85%;
}
.section__header .read-more {
  flex-grow: 0;
}
@media (max-width: 650px) {
  .section__header {
    max-width: initial;
  }
}
.section--mod {
  background: rgba(247, 247, 247, 0.5);
}

.link-more {
  display: flex;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  text-align: right;
  text-transform: uppercase;
  color: var(--Darkgrey);
  position: relative;
  align-items: center;
  transition: color 0.3s;
}
.link-more::after {
  content: "";
  display: block;
  height: 10px;
  width: 6px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9L5 5L1 1' stroke='%2367CB33' stroke-width='2'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  margin-left: 8px;
}
.link-more:hover {
  color: var(--GreenOver);
}

* + .statistics-panel {
  margin-top: 32px;
}
.statistics-panel__list {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}
.statistics-panel .statistics-card {
  min-height: 100%;
}
@media (max-width: 1580px) {
  .statistics-panel__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .statistics-panel__list {
    grid-template-columns: 1fr;
  }
}

.statistics-card {
  padding: 23px 32px 28px;
  padding-right: 16px;
  background-color: #f7f7f7;
  transition: background-color 0.3s, color 0.3s;
  color: var(--line2);
}
.statistics-card__label {
  color: var(--line2);
  display: block;
  margin: 0;
  padding-bottom: 11px;
  position: relative;
  margin-bottom: 12px;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: initial;
}
.statistics-card__label::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 32px;
  background-color: var(--line);
}
.statistics-card__details {
  display: grid;
  align-items: center;
  gap: 16px;
  grid-template-columns: 32px 1fr;
  color: #373737;
}
.statistics-card__details span {
  font-family: var(--Oswald);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  position: relative;
  color: inherit;
}
.statistics-card__details svg {
  width: 32px;
  height: 32px;
}
.statistics-card:hover {
  background-color: var(--GreenOver);
  color: var(--White);
}
.statistics-card:hover .statistics-card__label {
  color: #ffffff;
}
.statistics-card:hover .statistics-card__details {
  color: #ffffff;
}
.statistics-card:hover svg path {
  stroke: #FFE603;
}
@media (max-width: 1580px) {
  .statistics-card {
    padding: 23px 16px;
  }
  .statistics-card .statistics-card__details span {
    font-size: 28px;
  }
}

.article-preview {
  font-family: var(--Roboto);
}
.article-preview__photo {
  margin-bottom: 20px;
  transition: scale 0.3s;
}
.article-preview__photo img {
  display: block;
  width: 100%;
}
.article-preview__title {
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgba(55, 55, 55, 0.9);
  text-transform: initial;
  margin-bottom: 2px;
  font-family: var(--Oswald);
  transition: color 0.3s;
}
.article-preview__date {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--text2);
  margin-bottom: 12px;
}
.article-preview__lead {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(55, 55, 55, 0.7);
}
.article-preview:hover .article-preview__title {
  color: var(--Green);
}
.article-preview:hover .article-preview__photo {
  scale: 1.05;
}

.order-search {
  font-family: var(--Roboto);
  font-style: normal;
}
* + .order-search {
  margin-top: 36px;
}
.order-search__grid {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr 2fr;
  gap: 32px;
  align-items: flex-end;
}
.order-search label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--Darkgrey);
}
.order-search input {
  border: 1px solid;
  border-color: var(--line);
  font-family: var(--Roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--text2);
  padding: 11px 24px;
  padding-right: 5px;
  border-radius: 0;
  outline: none;
  flex-grow: 2;
  margin: 0;
  width: 100%;
}
.order-search .custom-select {
  width: 100%;
  max-width: 100%;
}
.order-search .custom-select__selected {
  justify-content: space-between;
}
.order-search .button {
  width: 100%;
  max-width: 100%;
}
.order-search .search .button {
  max-width: 48px;
}

* + .order-list {
  margin-top: 48px;
}

.order-item {
  display: grid;
  gap: 32px;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  padding: 16px 0;
  border-bottom: 1px solid #D9D9D9;
}
.order-item__number {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--text2);
  margin: 0;
}
.order-item__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  color: var(--Darkgrey);
  display: block;
  margin: 0;
  font-family: var(--Roboto);
}
.order-item__label {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(55, 55, 55, 0.8);
}
.order-item__strong {
  font-family: var(--Oswald);
  font-weight: 500;
  display: block;
  margin: 0;
  font-size: 30px;
  line-height: 1.33;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.9);
}
.order-item--mod {
  border-bottom: none;
  align-items: center;
}
.order-item--mod .order-item__label {
  text-align: right;
}

.accordion {
  position: relative;
  z-index: 2;
  transition: all 0.3s;
  background: var(--Gray);
}
.accordion + .accordion {
  margin-top: 8px;
}
.accordion .button {
  max-width: 100%;
}
.accordion__question {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: 56px 1fr;
}
.accordion__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Green);
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.accordion__title {
  margin: 0;
  display: block;
  font-family: var(--Oswald);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;
  text-transform: uppercase;
  color: var(--Darkgrey);
}
.accordion .move {
  opacity: 1;
  transition: all 0.3s;
}
.accordion__answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin: 0 40px;
}

.accordion__question:hover {
  background-color: var(--Gray2);
}

.accordion.active .accordion__question {
  background-color: var(--Green);
}
.accordion.active .accordion__icon {
  background-color: var(--GreenOver);
}
.accordion.active .accordion__title {
  color: var(--White);
}
.accordion.active .accordion__answer {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease-in-out;
  padding-bottom: 40px;
  padding-top: 18px;
}
.accordion.active .move {
  opacity: 0;
}

.number {
  display: flex;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--White);
  background: var(--Green);
  border-radius: 50%;
  min-width: 22px;
  min-height: 22px;
  align-items: center;
  justify-content: center;
}

.cart-button {
  position: relative;
  z-index: 2;
}
.cart-button .number {
  position: absolute;
  top: -10px;
  right: -5px;
  z-index: 10;
}

.email {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: right;
  color: var(--Darkgrey);
}

.copyright {
  margin: 16px 0;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--Darkgrey);
}

.site-developers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--Grey);
}
.site-developers__link {
  color: var(--Green);
}
.site-developers__logo {
  display: block;
}
* + .site-developers__logo {
  margin-left: 16px;
}

.ronald {
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
  background-color: var(--Green);
}
.ronald * {
  position: relative;
  z-index: 3;
  transition: all 0.6s;
}
.ronald .decorate {
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: var(--GreenOver);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s, color 0.3s, background-color 0.4s;
}

.header {
  border-bottom: 1px solid;
  border-color: var(--line);
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
  z-index: 60;
}
.header .top {
  padding: 16px 0;
  display: grid;
  gap: 32px;
  grid-template-columns: 122px 1fr 212px;
  align-items: center;
}
.header .menu {
  flex-grow: 2;
  margin: 0 auto;
}
.header .bottom {
  padding: 0;
  padding-bottom: 16px;
  display: grid;
  gap: 32px;
  grid-template-columns: 216px 1fr 216px;
  align-items: flex-start;
}
.header .group {
  display: flex;
  align-items: center;
}
.header .select {
  max-width: 250px;
  width: 100%;
}
.header .custom-select {
  max-width: 100%;
}
.header .custom-select__selected {
  justify-content: space-between;
}
.header .search {
  flex-grow: 2;
  max-width: 100%;
  width: 100%;
}
.header .search__wrapper {
  max-width: 100%;
  width: 100%;
}
.header .catalog-btn .button.open::before {
  background-image: url(../img/icons/close.svg);
}
.header .search input {
  border-left: 0;
}
@media (max-width: 1200px) {
  .header .top {
    gap: 20px;
  }
}
@media (max-width: 1023px) {
  .header .top {
    grid-template-columns: 122px 212px;
    gap: 16px;
    justify-content: space-between;
  }
  .header .menu {
    display: none;
  }
  .header .bottom {
    grid-template-columns: 1fr 48px;
    gap: 16px;
  }
  .header .catalog-btn {
    display: none;
  }
  .header .user-panel {
    display: none;
  }
  .header .button--Darkgrey {
    display: flex;
  }
}
@media (max-width: 550px) {
  .header .wrapper {
    display: grid;
    align-items: center;
    gap: 16px;
    grid-template-columns: 122px 1fr;
  }
  .header .top {
    display: block;
    max-width: max-content;
  }
  .header .tel {
    display: none;
  }
  .header .bottom {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: max-content;
    padding: 0;
    margin-left: auto;
    gap: 10px;
  }
  .header .group {
    display: none;
  }
}

.mobile-menu {
  display: block;
  left: -100%;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 136px;
  padding-bottom: 75px;
  background-color: #ffffff;
  z-index: 15;
  transition-duration: 0.3s;
  overflow: auto;
}
.mobile-menu .wrapper {
  display: grid;
  align-items: center;
  min-height: 100%;
}
.mobile-menu__list {
  margin-bottom: 32px;
}
.mobile-menu li {
  border-bottom: 1px solid var(--line);
}
.mobile-menu a {
  padding: 36px 0;
  display: grid;
  grid-template-columns: 1fr 20px;
  gap: 16px;
  align-items: center;
  position: relative;
  z-index: 5;
  font-family: var(--Oswald);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--Dark);
  padding-bottom: 30px;
  padding-top: 30px;
}
.mobile-menu a:after {
  display: block;
  content: "";
  width: 9px;
  height: 19px;
  background-image: url(../../img/icons/menu-arrow-right.svg);
  background-repeat: no-repeat;
  z-index: 2;
}
.mobile-menu .button {
  background-color: transparent;
  transform: translate(7px, 0);
}
.mobile-menu__sublist {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}
.mobile-menu__sublist li {
  border-bottom: none;
}
.mobile-menu__sublist a {
  padding: 0;
  display: grid;
  grid-template-columns: 6px 1fr;
  gap: 16px;
  position: relative;
  z-index: 5;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: initial;
  color: var(--DarkGray);
  padding-bottom: 12px;
  padding-top: 12px;
  align-items: center;
  text-align: initial;
  margin-right: 16px;
}
.mobile-menu__sublist a::before {
  display: block;
  content: "";
  width: 7px;
  height: 10px;
  background-image: url(../../img/icons/menu-arrow-right-min.svg);
  background-repeat: no-repeat;
  z-index: 2;
}
.mobile-menu__sublist a:after {
  display: none;
}
.mobile-menu__item--mod {
  display: grid;
  grid-template-columns: 1fr 48px;
  gap: 0 16px;
  align-items: center;
}
.mobile-menu__item--mod .decorate {
  background: transparent;
}
.mobile-menu__item--mod .button.open svg {
  transform: rotate(90deg);
}
.mobile-menu__sublist {
  grid-column: 1/3;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding-right: 0;
  font-size: 16px;
}
.mobile-menu__link--mod {
  display: block !important;
}
.mobile-menu__link--mod:after {
  display: none !important;
}
.mobile-menu .tel {
  display: none;
}
@media (max-width: 550px) {
  .mobile-menu__sublist {
    grid-template-columns: 1fr;
  }
  .mobile-menu .tel {
    display: flex;
    margin-left: auto;
  }
  .mobile-menu .tel a {
    display: block;
  }
  .mobile-menu .tel a:after {
    display: none;
  }
}

.mobile-menu-open .mobile-menu {
  left: 0;
}

.open + .mobile-menu__sublist {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease-in-out;
  padding-bottom: 32px;
}

.mobile-user-panel {
  display: none;
}
@media (max-width: 1023px) {
  .mobile-user-panel {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    z-index: 20;
  }
  .mobile-user-panel ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .mobile-user-panel a {
    padding: 11px;
    display: block;
    align-items: center;
    background-color: var(--white);
    color: var(--Darkgrey);
    border-top: 1px solid #d9d9d9;
    height: 60px;
  }
  .mobile-user-panel li:not(:last-child) a {
    border-right: 1px solid #d9d9d9;
  }
  .mobile-user-panel svg {
    display: block;
    max-width: max-content;
    margin: 0 auto;
    height: 20px;
  }
  .mobile-user-panel span {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 6px;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 1;
  }
  .mobile-user-panel .catalog {
    background-color: var(--Green);
  }
  .mobile-user-panel .catalog span {
    color: var(--white);
  }
}

.mobile-search {
  display: block;
  left: 0;
  position: fixed;
  top: -100%;
  width: 100%;
  height: initial;
  padding-top: 73px;
  background-color: #ffffff;
  z-index: 15;
  transition-duration: 0.3s;
  overflow: auto;
  border-bottom: 1px solid;
  border-color: var(--line);
  padding-bottom: 21px;
}
.mobile-search .custom-select {
  max-width: 100%;
}
.mobile-search__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.mobile-search .custom-select__selected {
  height: 45px;
  justify-content: space-between;
}
.mobile-search .custom-select__selected:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='11' fill='none'%3e%3cpath stroke='%2367CB33' stroke-width='2' d='M17 1 9.32 9 1 1'/%3e%3c/svg%3e");
  width: 16px;
  height: 8px;
}
.mobile-search .custom-select__options {
  overflow: auto;
  max-height: 130px;
}
.mobile-search .search input {
  height: 45px;
  border-left: 1px solid;
  border-color: var(--line);
}
.mobile-search .button {
  height: 45px;
  max-width: 100%;
}

.mobile-search-open .mobile-search {
  top: 0;
}

.catalog-preview ul {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.catalog-preview .title + .catalog-preview__list {
  margin-top: 32px;
}
@media (max-width: 850px) {
  .catalog-preview ul {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

.product-preview {
  background-color: #f7f7f7;
  color: #373737;
  transition: background-color 0.3s, color 0.3s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 16px;
  height: 100%;
  min-height: 160px;
}
.product-preview__left {
  padding: 30px 0;
  padding-left: 32px;
}
.product-preview__img img {
  display: block;
  margin-left: auto;
}
.product-preview__name {
  display: block;
  margin: 0;
  font-family: var(--Oswald);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #373737;
  padding-bottom: 11px;
  position: relative;
  margin-bottom: 12px;
  transition: color 0.3s;
}
.product-preview__name::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 32px;
  background-color: var(--line);
}
.product-preview__link {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: var(--text2);
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  transition: color 0.3s;
}
.product-preview__link::after {
  content: "";
  display: block;
  height: 10px;
  width: 6px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9L5 5L1 1' stroke='%2367CB33' stroke-width='2'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  margin-left: 8px;
}
.product-preview:hover {
  background-color: #44a611;
  color: #ffffff;
}
.product-preview:hover .product-preview__name {
  color: #ffffff;
}
.product-preview:hover .product-preview__link {
  color: #ffffff;
}
.product-preview:hover .product-preview__link::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9L5 5L1 1' stroke='%23FFE603' stroke-width='2'/%3e%3c/svg%3e ");
}
@media (max-width: 650px) {
  .product-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 0;
    padding: 22px 20px 13px;
    padding-right: 20px;
    padding-right: 0;
  }
  .product-preview .product-preview__link {
    display: none;
  }
  .product-preview .product-preview__right {
    order: -1;
    width: 100%;
  }
  .product-preview .product-preview__left {
    padding: 0;
    margin-top: 16px;
    width: 100%;
  }
  .product-preview .product-preview__name {
    padding: 0;
    margin: 0;
    font-size: 16px;
    padding-right: 20px;
  }
  .product-preview .product-preview__name::before {
    display: none;
  }
  .product-preview .product-preview__img img {
    margin-left: initial;
    width: 100%;
  }
}

.posts-preview__list ul {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}
* + .posts-preview__list {
  margin-top: 32px;
}
@media (max-width: 1300px) {
  .posts-preview__list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .posts-preview__list ul {
    grid-template-columns: 1fr;
  }
}

.footer {
  background-color: #f7f7f7;
  color: #909090;
  padding: 32px 0 26px;
}
.footer__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 8fr 4fr;
}
.footer__right {
  text-align: right;
  margin-left: auto;
}
.footer .tel {
  margin-left: auto;
}
.footer__menu-link {
  display: block;
  font-family: var(--Oswald);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  text-transform: uppercase;
  color: rgba(55, 55, 55, 0.9);
  transition: all 0.3s;
}
.footer__menu-link:hover {
  color: var(--GreenOver);
}
.footer__menu-list {
  display: grid;
  gap: 32px;
  grid-template-columns: 2fr 1fr 1fr;
  align-content: start;
}
.footer__menu-item--mod ul {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}
.footer__menu-item:nth-child(n+4) {
  grid-column: 3;
  align-self: start;
}
.footer__submenu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px 32px;
  margin-top: 10px;
}
.footer__menu-item:nth-child(1) .footer__submenu {
  grid-template-columns: 1fr 1fr;
}
.footer__submenu-link {
  position: relative;
  display: grid;
  grid-template-columns: 10px 1fr;
  align-items: center;
  gap: 15px;
  transition: all 0.3s;
}
.footer__submenu-link::before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9L5 5L1 1' stroke='%2367CB33' stroke-width='2'/%3e%3c/svg%3e ");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  flex-shrink: 0;
  transition: all 0.3s;
}
.footer__submenu-link span {
  flex-grow: 2;
}
.footer__submenu-link:hover {
  transform: translateX(8px);
}
.footer__submenu-link:hover span {
  color: var(--GreenOver);
}
@media (max-width: 1440px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
  .footer__right {
    margin-left: initial;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 10px 32px;
    align-items: center;
  }
  .footer .copyright {
    grid-column: 2;
    grid-row: 1;
  }
  .footer .site-developers {
    grid-column: 2;
  }
  .footer .tel {
    margin-left: initial;
  }
  .footer .email {
    text-align: initial;
    grid-column: 1;
  }
}