@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }

  70% {
    transform: translateY(calc(30px - 50%)) translateX(-50%);
  }

  90% {
    transform: translateY(calc(-10px - 50%)) translateX(-50%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(-50%) translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-50%) translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-50%) translateX(10px);
  }
}
