.amount-to-show {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 160px;
  align-items: center;
  &__label {
    display: block;
    font-family: var(--Rubik);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: right;
    color: #909090;
  }
  .custom-select {
    max-width: 100%;
  }
  .custom-select__selected {
    justify-content: space-between;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
  }
}
