.catalog-grid {
  display: grid;
  gap: 48px 32px;
  grid-template-columns: repeat(6, 1fr);
  align-items: self-end;
  margin-top: 32px;

  .product-card__image {
    position: relative;
    margin-bottom: 24px;
    flex-grow: 2;
    display: flex;
    align-items: center;
  }

  .product-card__link {
    display: flex;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .product-card__header {
    display: flex;
  }

  @media (max-width: 1440px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 16px;
  }

}
