.custom-select {
  position: relative;
  font-family: var(--Roboto);
  max-width: max-content;

  &__selected {
    background-color: var(--White);
    padding: 11px 16px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-color: var(--line);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:after {
      content: "";
      display: block;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%2344A611' stroke-width='2'/%3e%3c/svg%3e ");
      width: 9px;
      height: 5px;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 7px;
      flex-shrink: 0;
    }
  }
  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--White);
    border: 1px solid;
    border-color: var(--line);
    border-top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--Darkgrey);
    z-index: 20;
    display: none;
  }
  &__option {
    padding: 12px 24px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--Green);
      color: var(--White);
    }
  }
  // активности
  &.open &__selected {
    background-color: var(--White);
  }
  &.open &__options {
    display: block;
  }
}
