.document {
  max-width: 1248px;
  margin: 0 auto;

  &__link {
    display: grid;
    gap: 28px;
    align-items: center;
    grid-template-columns: 40px 1fr;


  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    color: #373737;
  }

  &__size {
    font-weight: 400;
    font-size: 16px;
    color: #5F5F5F;
    margin: 0;

  }
}

.active .document {
  padding-bottom: 32px;
  padding-top: 35px;
  border-bottom: 1px solid #D9D9D9;
}
