.logo {
  max-width: 122px;
  a {
    display: block;
    transition: opacity 0.3s;
    opacity: 0.8;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }
  img {
    display: block;
    width: 100%;
  }
}
