.order-item {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &__title {
  }
  &__number {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: var(--text2);
    margin: 0;
  }
  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    color: var(--Darkgrey);
    display: block;
    margin: 0;
    font-family: var(--Roboto);
  }

  &__label {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: rgba(#373737, 0.8);
  }
  &__strong {
    font-family: var(--Oswald);
    font-weight: 500;
    display: block;
    margin: 0;
    font-size: 30px;
    line-height: 1.33;
    text-transform: uppercase;
    color: rgba(#000000, 0.9);
  }

  &--mod {
    border-bottom: none;
    align-items: center;
    justify-content: flex-end;

    .order-item__details {
      max-width: max-content !important;
      &:not(:last-of-type) {
        margin-right: 32px;
      }
    }

    .order-item__label {
      text-align: right;
    }
  }
  &__button {
    max-width: max-content;
  }

  &__details--last {
    margin-right: 0 !important;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px 0;
    gap: 12px 32px;

    .order-item__title {
      grid-column: span 3;
    }
    .accordion__answer {
      margin: 0 !important;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    .order-item__details:last-child {
      grid-column: span 2;
    }
    .order-item__title {
      grid-column: span 2;
    }
  }
}

.order-item--mod {
  flex-wrap: nowrap;
  gap: 0;
  &:first-child {
    border-top: 1px solid #d9d9d9;
  }
  &:last-child {
    border-bottom: 1px solid #d9d9d9;
  }
  & + & {
    border-top: 1px solid #d9d9d9;
  }
  .order-item__details {
    max-width: 168px;
    width: 100%;
    margin-right: 12px;
  }
  .order-item__label {
    text-align: left;
  }
  .input-number {
    max-width: 168px;
    width: 100%;
  }
  .button {
    max-width: 152px;
    padding: 10px 16px;
    width: 100%;
    margin-left: 32px;
    flex-grow: 2;
    flex-shrink: 0;
  }

  @media (max-width: 1250px) {
    .input-number {
      margin-left: auto;
    }
  }
  @media (max-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 32px;

    .order-item__details {
      margin: 0;
    }
    .input-number {
      margin-left: initial;
      max-width: 100%;
    }
    .button {
      margin-left: initial;
    }
  }
}

.order-item {
  &__link {
    display: grid;
    gap: 24px;
    grid-template-columns: 85px 1fr;
    align-items: center;
  }

  &__details--long {
    flex-grow: 2;
    margin-right: 42px !important;
  }
  &__details {
    margin: 0;
    text-align: right;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.order-item--cart {
  .input-number {
    max-width: 224px;
  }


}
