.order-search {
  font-family: var(--Roboto);
  font-style: normal;
  * + & {
    margin-top: 36px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 2fr;
    gap: 32px;
    align-items: flex-end;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: var(--Darkgrey);
  }
  input {
    border: 1px solid;
    border-color: var(--line);
    font-family: var(--Roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--text2);
    padding: 11px 24px;
    padding-right: 5px;
    border-radius: 0;
    outline: none;
    flex-grow: 2;
    margin: 0;

    width: 100%;
  }
  .custom-select {
    width: 100%;
    max-width: 100%;
  }
  .custom-select__selected {
    justify-content: space-between;
  }
  .order-submit {
    width: 100%;
    max-width: 100%;
  }
  .search .button {
    max-width: 48px;
  }

  @media (max-width: 1200px) {
    &__grid {
      grid-template-columns: 1fr 1fr;
      gap: 26px 32px;
    }
    .order-submit {
      width: 100%;
      max-width: max-content;
      min-width: 224px;
  }
  }
}
