.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(#373737, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;

  // при показе окна
  &.show {
    opacity: 1;
    pointer-events: initial;
  }
}
