.pagination {

}

.pagination__list {
  display: flex !important;
  gap: 0 !important;
  align-items: center;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.pagination__item:not(:last-of-type) {
  margin-right: 8px;
}

.pagination__item:last-child {
  margin-left: 8px;
}
.pagination__item:first-child {
  margin-right: 16px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid;
  border-color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s linear;
  font-family: var(--Oswald);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  height: 48px;
  min-width: 48px;
  background-color: transparent;
  color: #000000;

  &.active {
    border-color: #67CB33;
    color: #67CB33 !important;
    background-color: transparent;

    .decorate {
      background-color: transparent;
    }
  }

  &:hover {
    color: #ffffff;
  }

  &--prev,
  &--next {
    background-color: #67CB33;
    color: #ffffff;
    border-color: #67CB33;
  }
}

// .pagination__link:hover {
//   background-color: var(--Cyan);
//   border-color: var(--Cyan);
//   color: var(--White);
// }

// .pagination__link:hover svg path {
//   stroke: var(--White);
// }

.pagination__link--dotted {
  border-color: transparent;
  flex-grow: 2;
  pointer-events: none;
}

.pagination__link--text {
  border-color: var(--Line);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // min-width: 224px;
}

// .pagination__link--prev {
//   margin-right: 12px;
// }

// .pagination__link--next svg {
//   margin-left: 12px;
// }
