.price-range {
  margin: 0;
  box-sizing: border-box;
  width: 100%;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__inputs {
    width: 100%;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  &__field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }

  &__input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 18px;
    // margin-left: 12px;
    border: 1px solid #D9D9D9;
    padding: 10px 16px;
    -moz-appearance: textfield;
  }

  &__input[type="number"]::-webkit-outer-spin-button,
  &__input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &__slider {
    height: 4px;
    position: relative;
    background: #D9D9D9;
    // border-radius: 5px;
  }

  &__progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    // border-radius: 5px;
    background: #67cb33;
  }

  &__ranges {
    position: relative;
  }

  &__range {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__range::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ffffff;
    pointer-events: auto;
    -webkit-appearance: none;
    border: 1px solid #d9d9d9;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  &__range::-moz-range-thumb {
    height: 24px;
    width: 24px;
    // border: none;
    border-radius: 50%;
    background: #ffffff;
    pointer-events: auto;
    -moz-appearance: none;
    border: 1px solid #d9d9d9;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  &__slider-wrapper {
    margin-bottom: 32px;
  }
}
