.product-card {
  max-width: 256px;
  position: relative;

  &__link {
    display: block;
  }

  &__header {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  &__image {
    position: relative;
    margin-bottom: 24px;

    img {
      max-width: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
      transition: scale 0.3s;
      scale: 1;
    }
  }

  &__image-label {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    color: #ffffff;
    background-color: #44a611;
    bottom: -10px;
    padding: 2px 8px;
    height: 25px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
  }

  &__header {
    display: flex;
  }

  &__label {
    height: 40px;
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    background: #67cb33;
    max-width: max-content;

    &:not(:last-of-type) {
      margin-right: 1px;
    }

    &:nth-child(2n) {
      margin-left: auto;
    }

    &--action {
      background-color: #d51a1a;
    }

    &--heart {
      background-color: #d9d9d9;
      min-height: 40px !important;
      min-width: 40px !important;
    }
  }

  &__title {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #373737;
    margin: 0;
    margin-bottom: 8px;
    transition: all 0.3s;
  }

  &__subtitle {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #909090;
    display: block;
    margin: 0;
  }

  &__price {
    font-family: var(--Oswald);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(#000000, 0.9);
  }

  &__footer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;

    &--mod {
      grid-template-columns: 1fr 48px !important;
    }
  }

  &__price-wrapper {
    span {
      display: block;
    }
  }

  &__mini-price {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #909090;
  }

  &__options {
    padding: 0;
    border: none;
    font-size: 12px;
    color: #909090;
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;

    &:after {
      content: "";
      display: block;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%2344A611' stroke-width='2'/%3e%3c/svg%3e ");
      width: 8px;
      height: 8px;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 7px;
      flex-shrink: 0;
    }

    &:active,
    &:hover,
    &.show {
      color: #44a611;
    }
  }

  &__details {
    position: absolute;
    width: calc(100% + 32px);
    background: #f7f7f7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    padding: 16px 24px;
    left: -16px;
    bottom: 130%;
    z-index: 11;

    .button {
      margin-top: 13px;
      max-width: 100%;
    }

    .catalog-filter__checkbox-label {
      padding-top: 7px;
      padding-bottom: 9px;

      &:first-of-type {
        padding-top: 0;
      }

      &:not(:last-of-type) {
        border-bottom: 1px dashed #d9d9d9;
      }

      span {
        font-family: var(--Roboto);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(#373737, 0.8);
      }

      strong {
        font-family: var(--Oswald);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        text-align: right;
        text-transform: uppercase;
        color: rgba(#000000, 0.9);
        margin-left: auto;
        padding-left: 12px;
        flex-shrink: 0;
      }
    }

    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 15%;
      bottom: -20px;
      border: 10px solid transparent;
      border-top: 10px solid #f7f7f7;
      width: 10px;
    }
  }

  .show + &__details {
    opacity: 1;
    pointer-events: initial;
  }

  // активности
  &:hover,
  &:focus,
  &:active {
    .product-card__image img {
      scale: 1.05;
    }

    .product-card__title {
      color: var(--GreenOver);
    }
  }


  .product-card__options.show:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='none'%3e%3cpath stroke='%2367CB33' stroke-width='2' d='m1 1 4 4 4-4M1 9l4-4 4 4'/%3e%3c/svg%3e");
  }

  @media (max-width: 1300px) {
    &__footer {
      grid-template-columns: 1fr;
      gap: 0;
    }

    &__options {
      margin-left: initial;
    }
    &__details::after {
      right: auto;
      left: 15%;
    }
  }

  @media (max-width: 768px) {
    .product-card__label--new {
      display: none;
    }

    .product-card__price {
      font-size: 20px;
    }
  }

  @media (max-width: 620px) {
    .product-card__details {
      bottom: 50%;
      width: calc(200% + 32px);
      left: calc(-100% + -24px);
      &::after {
        left: 60%;
      }
    }

    &:nth-child(2n + 1) {
      .product-card__details {
        left: -10px;
        &::after {
          left: 10%;
        }
      }
    }
  }
}

.product-card__details {
  .catalog-filter {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
  }
  padding: 16px;

  li {
    border-bottom: 1px dashed #d9d9d9;
    padding: 16px 0;
    &:last-of-type {
      border-bottom: none;
    }
  }
  &--grid {
    display: grid;
    align-items: center;
    gap: 6px;
    grid-template-columns: 3fr 2fr;
  }
  &--price {
    margin-left: auto;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;

    /* Black */

    color: #000000;

    opacity: 0.9;
  }
  &--total-number {
    margin-left: auto;
  }
  .input-number {
    background-color: #fff;
    height: 40px;
    padding: 0 4px;

    &__button {
      margin: 0;
    }
  }
}

.add-favorite {
  &.like {
    svg {
      path {
        stroke: #ffffff !important;
        fill: #d51a1a !important;
      }
    }
  }
}

.product-card {
  position: relative;
}

.product-card__footer--mod + .product-card__details {
  bottom: 60px;

  &::after {
    right: 12%;
    left: auto !important;
  }

  &.show {
    opacity: 1;
    pointer-events: initial;
  }
}

.product-card__footer--mod + .product-card__details li {
  padding: 0;
}
