.search {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  input {
    border: 1px solid;
    border-color: var(--line);
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: var(--text2);
    padding: 11px 24px;
    padding-right: 5px;
    border-radius: 0;
    outline:none;
    flex-grow: 2;
    margin: 0;
  }
  button {
    position: relative;
    margin-left: -2px;
  }
}
