.sort-order {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #909090;
  &__subtitle {
    margin: 0;
  }

  ul {
    display: flex;
    align-items: center;
  }
  li {
    margin-left: 16px;
  }

  a {
    color: #373737;
  }
}
