.statistics-card {
  padding: 23px 32px 28px;
  padding-right: 16px;
  background-color: #f7f7f7;
  transition: background-color 0.3s, color 0.3s;
  color: var(--line2);

  &__label {
    color: var(--line2);
    display: block;
    margin: 0;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 12px;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-transform: initial;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 32px;
      background-color: var(--line);
    }
  }

  &__details {
    display: grid;
    align-items: center;
    gap: 16px;
    grid-template-columns: 32px 1fr;
    color: #373737;
    span {
      font-family: var(--Oswald);
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 1;
      text-transform: uppercase;
      display: flex;
      position: relative;
      color: inherit;
    }
    svg {
      width: 32px;
      height: 32px;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: var(--GreenOver);
    color: var(--White);

    .statistics-card__label {
      color: #ffffff;
    }
    .statistics-card__details {
      color: #ffffff;
    }
    svg {
      path {
        stroke: #ffe603;
      }
    }
  }

  @media (max-width: 1580px) {
    padding: 23px 16px;

    .statistics-card__details span {
      font-size: 28px;
    }
  }
}
