.statistics-panel {
  * + & {
    margin-top: 32px;
  }
  &__list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);
  }
  .statistics-card {
    min-height: 100%;
  }

  @media (max-width: 1580px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 750px) {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
