.subtitle {
  font-family: var(--Roboto);
  display: block;
  max-width: max-content;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: var(--Darkgrey);
  margin: 0;
}

.title + .subtitle{
  margin-top: 21px;
}
