.brands {
  .title+* {
    margin-top: 37px;
  }

  &__group {

    padding-top: 37px;
    padding-bottom: 27px;


    .title {
      font-size: 24px;
      margin: 0;
      margin-bottom: 43px;
    }
  }

  &__list {
    margin-top: 43px;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    min-height: 200px;

    img {
      display: block;
      max-height: 40px;
      object-fit: contain;
    }
  }

  @media (max-width: 1024px) {
    &__list {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__group {
      .title {
        margin-bottom: 27px;
      }
    }

    .title+* {
      padding: 0;
    }
  }

  @media (max-width: 768px) {
    &__list {
      grid-template-columns: 1fr 1fr;
    }

    &__link {
      min-height: 150px;
    }


  }

  @media (max-width: 550px) {
    &__list {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
    &__link {
      min-height: 100px;
    }
    .title + * {
      margin-top: 24px;
    }
    &__group .title {
      margin-bottom: 24px;
  }

  }
}
