.catalog-menu {
  position: absolute;
  top: 0;
  left: -100vw;
  padding-top: 136px;
  // position: relative;
  // min-height: 100vh;
  width: 100vw;
  background-color: #f7f7f7;
  z-index: 30;
  overflow: hidden;
  transition: all 0.3s;

  &__grid {
    display: grid;
    // gap: 32px;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
  }
  &__button {
    display: none;
    background-color: transparent;

    .decorate {
      background: transparent;
    }
    path {
      stroke: var(--Green) !important;
    }
  }
}

.catalog-menu {
  overflow-y: auto;
  height: 100vh;
}
.catalog-menu__tabs {
  padding: 23px 0 32px;
}
.catalog-menu__tabs-list {
  position: sticky;
  top: 23px;
}
.catalog-menu__tabs-link {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: rgba(#1c1e20, 0.9);
  padding: 14px 32px 17px 0;
  transition: all 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    pointer-events: none;
  }

  &::after {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.999999 1L9 8.68L1 17' stroke='%2367CB33' stroke-width='2'/%3e%3c/svg%3e ");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin-left: 16px;
    opacity: 0;
    transition: all 0.3s;
  }
  &:before {
    content: "";
    display: block;
    width: 200%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 100%;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover {
    background-color: #fff;
    color: #44a611;
    &::after {
      opacity: 1;
    }
    &:before {
      opacity: 1;
    }
  }
}

.catalog-menu__content {
  padding: 37px 0 25px 32px;
  background-color: #fff;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 200%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 100%;
    top: 0;
  }
}

.content__catalog-list {
  display: none;
  // max-height: 100vh;
  &.active {
    opacity: 1;
    pointer-events: initial;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
  }
}
.content__catalog-item {
  // margin-right: 12px;
  margin-bottom: 16px;
  max-width: calc(100% / 3);
  width: 100%;
}
.content__catalog-link {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #373737;
  margin: 0;
  display: block;
  margin-bottom: 10px;
}

.content__catalog-sublink {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(#373737, 0.8);
  display: flex;
  align-items: center;
  padding: 10px 0;

  &::before {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9L5 5L1 1' stroke='%2367CB33' stroke-width='2'/%3e%3c/svg%3e ");
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    margin-right: 16px;
    // opacity: 0;
    transition: all 0.3s;
  }

  &:hover,
  &:active,
  &:focus {
    color: #44a611;
    &::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 9L5 5L1 1' stroke='%2344A611' stroke-width='2'/%3e%3c/svg%3e ");
      margin-left: 8px;
    }
  }
}
.content__catalog-sublist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-menu__return {
  display: none;
}

.catalog-menu__tabs-link {
  &.active {
    background-color: #fff;
    color: #44a611;
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 1;
    }
  }
}

@media (max-width: 1023px) {
  .content__catalog-item {
    max-width: calc(50%);
  }

  .catalog-menu {
    padding-top: 123px;
    padding-bottom: 60px;

    .content {
      padding-bottom: 60px;
    }
  }
}

@media (max-width: 720px) {
  .content__catalog-item {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .catalog-menu {
    padding-top: 60px;
    z-index: 9999;
  }
  .catalog-menu__grid {
    display: block;
  }

  // новые стили для мобильного меню каталога

  .catalog-menu__return {
    display: block;
    /* Oswald_medium_20_25 */
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: right;
    color: rgba(#1c1e20, 0.9);
    border-bottom: 1px solid #d9d9d9;
    background-color: #ffffff;

    a {
      display: grid;
      padding: 15px 20px;
      // padding: 37px 20px 25px;
      align-items: center;
      gap: 12px;
      grid-template-columns: 20px 1fr;
    }
    svg {
      flex-shrink: 0;
    }
  }

  .catalog-menu__tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 14;
    // background-color: #ffffff;
    background-color: #F7F7F7;
    height: 100%;
    transition: all 0.3s;
  }
  .catalog-menu__tabs-link {
    padding: 14px 20px 17px;
    border-bottom: 1px solid var(--line);

  }

  .catalog-menu__tabs-link {
    &::after {
      opacity: 1;
    }
  }

  .catalog-menu__content {
    position: absolute;
    top: 0;
    left: -100vh;
    width: 100%;
    min-height: 100%;
    z-index: 12;
    padding: 0;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    background-color: #F7F7F7;
  }

  .catalog-menu__link-wrapper {
    display: grid;
    grid-template-columns: 1fr 48px;
    gap: 12px;
    align-items: center;
  }

  .catalog-menu__button {
    display: flex;
  }
  .content__catalog-link {
    margin-bottom: 0;
  }

  .content__catalog-sublist {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin: 0;
  }
  .content__catalog-item {
    margin-bottom: 0;
  }
  .open {
    & + .content__catalog-sublist {
      opacity: 1;
      max-height: 1000px;
      transition: all 0.3s ease-in-out;
      padding-top: 0;
      padding-bottom: 12px;
    }
  }

  .content__catalog-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .content__catalog-list {
    padding: 0 20px;
  }

  .content__catalog-item {
    border-bottom: 1px solid #d9d9d9;
  }

  .content__catalog-sublink {
    padding: 11px 0;
  }

}
