.contacts {
  &__list {
    margin-top: 25px;
  }
  &__title {
    margin: 0;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #909090;
    text-transform: initial;
  }
  &__list {
    margin-bottom: 28px;

    li:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
  &__text {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    font-family: var(--Oswald);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #373737;

    svg {
      max-width: 20px;
      margin-right: 14px;
      flex-shrink: 0;
    }
  }
  &__buttons {
    max-width: 480px;
    margin-bottom: 48px;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;

    .button {
      max-width: 100%;
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    &__buttons {
      max-width: 100%;
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
}
