.footer {
  background-color: #28303d;
  color: #ffffff;
  padding: 38px 0 42px;

  .navigation-list {
    a {
      color: #ffffff;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 20px;
      display: block;
      max-width: max-content;
    }
  }
  &__grid {
    display: grid;
    gap: 0 32px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
  }
  &__navigation {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  &__support {
    &-grid {
      display: grid;
      gap: 32px;
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        font-size: 16px;
        color: rgba(#ffffff, 0.7);
        margin-bottom: 20px;
        display: block;
      }
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
  }
  .phone {
    color: rgba(#ffffff, 0.9);
    margin-left: auto;
    text-align: right;
    margin-bottom: 20px;
    &--icon {
      &:before {
        background-image: url(../../img/icons/phone-white.svg);
      }
    }
  }
  &__buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 16px;
    margin-bottom: 20px;

    .button {
      max-width: 100%;
    }
  }
  &__copyright {
    color: rgba(#ffffff, 0.7);
    font-weight: 400;
    font-size: 14px;
    // display: flex;
    // align-items: flex-start;
    // justify-content: flex-end;
    margin-left: auto;
    text-align: right;

    span {
      margin-right: 32px;
    }
    a {
      color: #ffffff;
    }
  }
}
