.full-product-card {
  &__image {
    margin-bottom: 32px;
  }
  &__choice-list {
    max-width: 100%;
    width: 100%;
  }
  &__description {
    margin: 30px 0;
  }

  & + .slider {
    padding-top: 0;
  }

  @media (max-width: 1024px) {
    &__image {
      margin-bottom: initial;
    }
    .sticky {
      position: initial;
    }
  }
}
