.header {
  border-bottom: 1px solid;
  border-color: var(--line);
  position: relative;
  top: 0;
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
  z-index: 60;

  .top {
    padding: 10px 0;
    display: grid;
    gap: 32px;
    grid-template-columns: 122px 1fr 212px;
    align-items: center;
  }

  .menu {
    flex-grow: 2;
    margin: 0 auto;
  }

  .bottom {
    padding: 0;
    padding-bottom: 16px;
    display: grid;
    gap: 32px 40px;
    grid-template-columns: 216px 1fr 216px;
    align-items: flex-start;
  }

  .group {
    display: flex;
    align-items: center;
  }

  .select {
    max-width: 250px;
    width: 100%;
  }

  .custom-select {
    max-width: 100%;
  }

  .custom-select__selected {
    justify-content: space-between;
    padding: 11px 23px;
  }

  .search {
    flex-grow: 2;
    max-width: 100%;
    width: 100%;
  }

  .search__wrapper {
    max-width: 100%;
    width: 100%;
  }

  .button--catalog {
    max-width: 100%;
    width: 100%;
    padding: 16px 60px;
  }

  .search input {
    border-left: 0;
  }

  @media (max-width: 1200px) {
    .top {
      gap: 20px;
    }
  }

  @media (max-width: 1023px) {
    .catalog-btn-call {
      display: none;
    }
    .top {
      grid-template-columns: 122px 212px;
      gap: 16px;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    .menu {
      display: none;
    }

    .bottom {
      grid-template-columns: 1fr 48px;
      gap: 16px;
    }

    .catalog-btn {
      display: none;
    }

    .user-panel {
      display: none;
    }

    .button--Darkgrey {
      display: flex;
    }

    .button--menu {
      display: flex;
    }
  }

  @media (max-width: 550px) {
    .wrapper {
      display: grid;
      align-items: center;
      gap: 16px;
      grid-template-columns: 122px 1fr;
    }

    .top {
      display: block;
      max-width: max-content;
      margin-bottom: 0;
    }

    .tel {
      display: none;
    }

    .bottom {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: max-content;
      padding: 0;
      margin-left: auto;
      gap: 10px;
    }

    .group {
      display: none;
    }
  }
}
