.mobile-search {
  display: block;
  left: 0;
  position: fixed;
  top: -100%;
  width: 100%;
  height: initial;
  padding-top: 73px;
  background-color: #ffffff;
  z-index: 15;
  transition-duration: 0.3s;
  overflow: auto;

  border-bottom: 1px solid;
  border-color: var(--line);
  padding-bottom: 21px;

  .custom-select {
    max-width: 100%;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .custom-select__selected {
    height: 45px;
    justify-content: space-between;

    &:after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='11' fill='none'%3e%3cpath stroke='%2367CB33' stroke-width='2' d='M17 1 9.32 9 1 1'/%3e%3c/svg%3e");
      width: 16px;
      height: 8px;
    }
  }
  .custom-select__options {
    overflow: auto;
    max-height: 130px;
  }
  .search {
    input {
      height: 45px;
      border-left: 1px solid;
      border-color: var(--line);
    }
  }
  .button {
    height: 45px;
    max-width: 100%;
  }
}

.mobile-search-open .mobile-search {
  top: 0;
}
