.mobile-user-panel {
  display: none;

  @media (max-width: 1023px) {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    z-index: 99;
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
    a {
      padding: 11px;
      display: block;
      align-items: center;
      background-color: var(--White);
      color: var(--Darkgrey);
      border-top: 1px solid #d9d9d9;
      height: 60px;
    }
    li:not(:last-child) a {
      border-right: 1px solid #d9d9d9;
    }
    svg {
      display: block;
      max-width: max-content;
      margin: 0 auto;
      height: 20px;
    }

    span {
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-top: 6px;
      font-family: var(--Roboto);
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 1;
    }

    .catalog {
      background-color: var(--Green);

      span {
        color: var(--white);
      }
    }
  }
}
