.posts-preview {
  &__list {
    ul {
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  * + &__list {
    margin-top: 32px;
  }

  @media (max-width: 1300px) {
    &__list {
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @media (max-width: 550px) {
    &__list {
      ul {
        grid-template-columns: 1fr;
      }
    }
  }
}
