.product-catalog {
  &__title {
    margin: 0;
    margin-bottom: 27px;
  }
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 3fr;
  }
  &__order {
    // display: block;
    margin-bottom: 32px;
  }
}
