.product-catalog {
  &__title {
    margin: 0;
    margin-bottom: 27px;
  }
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 3fr;
  }
  &__order {
    // display: block;
    margin-bottom: 32px;
  }
  &__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 43px 32px;
    margin-bottom: 32px;
  }
  &__footer {
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: 2fr 1fr;
  }
}
