// шапка
.header {
  &__navigation {
    display: none;
  }
  &__buttons {
    margin-left: auto;
  }
  .button--menu {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 20px;
    position: relative;
    background-color: #28303d;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;

    span {
      pointer-events: none;
      transition-duration: 0.5s;
      position: absolute;
      height: 2px;
      width: 16px;
      top: calc(50% - 1px);
      background-color: #ffffff;
      border-radius: 15%;

      &:before {
        transition-duration: 0.5s;
        position: absolute;
        width: 16px;
        height: 2px;
        left: 0;
        background-color: #ffffff;
        content: "";
        top: -8px;
        border-radius: 15%;
      }
      &:after {
        transition-duration: 0.5s;
        position: absolute;
        width: 16px;
        height: 2px;
        left: 0;
        background-color: #ffffff;
        content: "";
        top: 8px;
        border-radius: 15%;
      }
    }

    &.isActive {
      span {
        transition-duration: 0.5s;
        background: transparent;
        &:before {
          transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px);
        }
        &:after {
          transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -5px);
        }
      }
    }
  }
}
// мобильное меню
.mobile-nivigation {
  display: block;
  left: -100%;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: calc(70px + 119px);
  padding-bottom: 43px;
  background-color: #ffffff;
  z-index: 10;
  transition-duration: 0.3s;
  // margin-top: 119px;
  overflow: auto;
  &.isActive {
    left: 0;
  }
  .phone {
    margin-right: 16px;
  }

  .navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 32px;
    margin-bottom: 32px;

    a {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #28303d;
      padding: 36px 0;
      display: grid;
      grid-template-columns: 1fr 48px;
      gap: 16px;
      align-items: center;
      position: relative;
      border-bottom: 1px solid;
      border-color: #dcdcdf;
      z-index: 5;

      &:after {
        display: block;
        content: "";
        width: 48px;
        height: 48px;
        background-image: url(../../img/icons/menu-icon.svg);
        background-repeat: no-repeat;
        z-index: 2;
      }
      &:before {
        display: block;
        content: "";
        background-color: transparent;
        border-radius: 20px;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
      }
      span {
        position: relative;
        z-index: 5;
      }

      &:hover {
        border-color: transparent;

        &:after {
          background-image: url(../../img/icons/menu-icon-clear.svg);
        }
        &:before {
          background-color: #d6f1ff;
          top: -5px;
          bottom: -5px;
          left: -24px;
          right: -24px;
        }
      }
    }
  }
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #28303d;
    margin-bottom: 10px;
  }
  &__support-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid;
    border-color: #dcdcdf;
    padding-bottom: 18px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    a {
      font-weight: 400;
      font-size: 20px;
      line-height: 1;
      color: rgba(#28303d, 0.7);
      transition: color 0.3s;
      padding: 16px 0;
      &:hover {
        color: rgba(#c70000, 0.7);
      }
    }

    a:not([class]) {
      display: block;
    }
  }

  &__contact-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;

    .button {
      max-width: max-content;
      width: 100%;
      padding: 11px 26px;
      font-size: 16px;
    }
  }
}

// первый экран
.hero {
  .title {
    font-size: 40px;

    span {
      font-size: 56px;
    }
  }
}
// Подключить интернет
.promo {
  &__grid {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  &__form {
    gap: 16px;
  }
  &__form-item--check {
    grid-column: span 2;
  }
  .button {
    grid-column: span 2;
    margin-left: initial;
  }
}

// карточки с анонсами товаров
.rates__list {
  grid-template-columns: 1fr 1fr 1fr;
}
// подвал
.footer {
  &__grid {
    grid-template-columns: 1fr 1fr;
  }
  &__contacts {
    grid-column: 1 / -1;
    display: flex;
    gap: 0;
    align-items: center;
  }
  .phone {
    margin-left: initial;
    text-align: initial;
    margin-bottom: initial;
    margin-right: 16px;
  }
  .footer__buttons {
    margin-bottom: initial;
    margin-right: 16px;
  }

  &__copyright {
    margin-left: initial;
    text-align: initial;
    // span {
    //   display: none;
    // }
  }
  &__grid {
    gap: 0 16px;
  }
  &__navigation {
    gap: 16px;
  }
  &__support {
    &-grid {
      gap: 16px;
    }
  }
}

.modal .promo__form-item--check {
  grid-column: initial;
}

@media (max-width: 1250px) {
  .promo__details {
    padding: 16px 0;
  }
}
