.header {
  &__mobile-buttons {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.footer {
  &__buttons {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

@media (max-width: 370px) {
  .mob-hide {
    display: none;
  }
}