.button {
  padding: 12px 12px;
}

// мобильное меню
.mobile-nivigation {
  padding-top: 111px;

  .navigation-list {
    grid-template-columns: 1fr;
    margin-bottom: 26px;

    a {
      font-size: 18px;
      padding: 9px 0;

      &:after {
        width: 30px;
        height: 30px;
        background-size: contain;
      }
      &:before {
        border-radius: initial;
      }
      &:hover {
        &::before {
          left: -20px;
          right: -20px;
        }
      }
    }
  }

  &__title {
    font-size: 18px;
  }
  &__support-grid a {
    font-size: 16px;
  }
  &__contact-flex {
    .header__mobile-phone {
      width: 100%;
      max-width: 100%;
      margin-bottom: 22px;
    }
  }
}

.hero {
  .title {
    font-size: 23px;

    span {
      font-size: 36px;
    }
  }
  .title + .button {
    margin-top: 16px;
    padding: 11px 24px;
  }
  &--inner {
    padding-top: 111px;
    // padding-bottom: 65px;
  }
  &--inner &__video {
    height: 100%;
  }
}

.footer {
  padding: 32px 0 30px;
  &__grid {
    grid-template-columns: 1fr;
  }

  &__contacts {
    grid-column: initial;
  }
  &__contacts {
    display: block;
    margin-top: 32px;
  }
  .phone {
    margin-right: initial;
    margin-bottom: 20px;
  }
  &__buttons {
    margin-right: initial !important;
  }
}
.promo {
  padding: 0;
  &__grid {
    padding: 0 20px 20px 20px;
    padding-bottom: 40px;
  }
}
.instructions {
  a {
    padding-left: 0;
    padding-right: 0;
  }
}

.faq__list li {
  border-color: transparent;
}
.faq__answer {
  padding-left: 0;
  padding-right: 0;
}

.faq__list li:first-child {
  border-color: transparent;
}

.faq__list li::after {
  background-color: transparent;
}

@media (max-width: 600px) {
  .button--slider {
    opacity: 0;
    pointer-events: none;
  }
  .mobile-nivigation {
    &__contact-flex {
      display: grid;
      gap: 16px;
      grid-template-columns: auto;
      justify-content: flex-start;
    }
    &__buttons .button {
      padding: 11px 20px;
    }
  }
  // список акций
  .offers {
    padding: 20px 0;
    &__list {
      grid-template-columns: 1fr;
    }
  }
  // пагинация
  .pagination__link {
    width: 40px;
    height: 40px;
  }
  .pagination__link--text {
    position: relative;
    line-height: 0;
    font-size: 0;
    width: 40px;
    height: 40px;
    max-width: 40px;

    svg {
      display: block;
    }
  }

  .solo-slider .button--slider {
    opacity: 1;
    pointer-events: initial;
  }
}
