.header {
  &__mobile-navigation {
    .header__navigation-link {
      padding: 24px 0;
    }
  }
  &__mobile-buttons {
    .button {
      max-width: 100%;
      padding: 11px 16px;
    }
  }
}
.promo {
  &__grid {
    padding: 0 40px 40px 40px;
    grid-template-columns: 1fr;
  }
  &__image {
    margin-left: initial;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 16px;
    font-size: 30px;
  }
}

.hero--inner {
  padding-bottom: 0;
}

.solo-slider .button--slider {
  left: 16px;
}
.solo-slider .button--slider.next {
  right: 16px;
}

.modal .promo__form {
  grid-template-columns: 1fr;
}

.modal .promo__form .button {
  margin-left: initial;
  padding: 15px 70px;
  max-width: 100%;
}

.hero__video {
  height: 70%;
}

@media (max-width: 760px) {
  .filter__flex {
    display: grid;
    grid-template-columns: auto;
  }
}

@media (max-width: 750px) {
  .rate-card__decorate {
    font-size: 30px;
    gap: 12px;
  }
  .rate-card__title:after {
    width: 40px;
    height: 40px;
  }
  .rate-card {
    padding: 21px 20px 20px;
  }
}

@media (max-width: 735px) {
  .header {
    &__buttons {
      .button {
        display: none;

        &--menu {
          display: flex;
          margin-left: initial;
        }
      }
    }
    &__support {
      display: none;
    }
    &__social {
      display: none;
    }
    &__logo {
      margin-right: initial;
    }
    &__top {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 700px) {
  // карточки с анонсами товаров
  .rates__list {
    grid-template-columns: 1fr;
  }

  .solo-slider__grid {
    grid-template-columns: 1fr;
  }

  .solo-slider__left {
    padding: 16px;
  }

  .solo-slider__right {
    margin-left: initial;
    .swiper-vertical > .swiper-wrapper {
      flex-direction: initial;
    }
    .swiper-slide-thumb-active::before {
      top: -12px;
      left: calc(50% - 12px);
    }
  }

  .solo-slider .button--slider {
    width: 40px;
    height: 40px;
    padding: 0;

    svg {
      scale: 0.6;
    }
  }

  .solo-slider__right .swiper-slide {
    padding: 5px;
    max-width: 75px;
  }
  .solo-slider__right .swiper-slide img {
    width: 65px;
    height: 65px;
  }
  .solo-slider__right .swiper-slide-thumb-active::before {
    width: 20px;
    height: 20px;
    top: -6px;
    left: calc(50% - 10px);
  }
  .solo-slider__grid {
    gap: 16px;
  }

  .accordion {
    padding: 16px 10px;
  }

  .accordion__answer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .connection-request {
    padding: 16px 20px;
  }

  .title {
    font-size: 30px;
  }
  .equip__price {
    font-size: 30px;
  }
  .accordion__icon {
    width: 40px;
    height: 40px;
    svg {
      scale: 0.9;
    }
  }
}
