.header__navigation {
  display: none;
}
.header__buttons {
  margin-left: auto;
}
.header .button--menu {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 20px;
  position: relative;
  background-color: #28303d;
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
.header .button--menu span {
  pointer-events: none;
  transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 16px;
  top: calc(50% - 1px);
  background-color: #ffffff;
  border-radius: 15%;
}
.header .button--menu span:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 16px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
  content: "";
  top: -8px;
  border-radius: 15%;
}
.header .button--menu span:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 16px;
  height: 2px;
  left: 0;
  background-color: #ffffff;
  content: "";
  top: 8px;
  border-radius: 15%;
}
.header .button--menu.isActive span {
  transition-duration: 0.5s;
  background: transparent;
}
.header .button--menu.isActive span:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(5px, 5px);
}
.header .button--menu.isActive span:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -5px);
}

.mobile-nivigation {
  display: block;
  left: -100%;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 189px;
  padding-bottom: 43px;
  background-color: #ffffff;
  z-index: 10;
  transition-duration: 0.3s;
  overflow: auto;
}
.mobile-nivigation.isActive {
  left: 0;
}
.mobile-nivigation .phone {
  margin-right: 16px;
}
.mobile-nivigation .navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 32px;
  margin-bottom: 32px;
}
.mobile-nivigation .navigation-list a {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #28303d;
  padding: 36px 0;
  display: grid;
  grid-template-columns: 1fr 48px;
  gap: 16px;
  align-items: center;
  position: relative;
  border-bottom: 1px solid;
  border-color: #dcdcdf;
  z-index: 5;
}
.mobile-nivigation .navigation-list a:after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  background-image: url(../../img/icons/menu-icon.svg);
  background-repeat: no-repeat;
  z-index: 2;
}
.mobile-nivigation .navigation-list a:before {
  display: block;
  content: "";
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.mobile-nivigation .navigation-list a span {
  position: relative;
  z-index: 5;
}
.mobile-nivigation .navigation-list a:hover {
  border-color: transparent;
}
.mobile-nivigation .navigation-list a:hover:after {
  background-image: url(../../img/icons/menu-icon-clear.svg);
}
.mobile-nivigation .navigation-list a:hover:before {
  background-color: #d6f1ff;
  top: -5px;
  bottom: -5px;
  left: -24px;
  right: -24px;
}
.mobile-nivigation__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #28303d;
  margin-bottom: 10px;
}
.mobile-nivigation__support-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid;
  border-color: #dcdcdf;
  padding-bottom: 18px;
}
.mobile-nivigation__support-grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-nivigation__support-grid a {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: rgba(40, 48, 61, 0.7);
  transition: color 0.3s;
  padding: 16px 0;
}
.mobile-nivigation__support-grid a:hover {
  color: rgba(199, 0, 0, 0.7);
}
.mobile-nivigation__support-grid a:not([class]) {
  display: block;
}
.mobile-nivigation__contact-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mobile-nivigation__buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.mobile-nivigation__buttons .button {
  max-width: max-content;
  width: 100%;
  padding: 11px 26px;
  font-size: 16px;
}

.hero .title {
  font-size: 40px;
}
.hero .title span {
  font-size: 56px;
}

.promo__grid {
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.promo__form {
  gap: 16px;
}
.promo__form-item--check {
  grid-column: span 2;
}
.promo .button {
  grid-column: span 2;
  margin-left: initial;
}

.rates__list {
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__grid {
  grid-template-columns: 1fr 1fr;
}
.footer__contacts {
  grid-column: 1/-1;
  display: flex;
  gap: 0;
  align-items: center;
}
.footer .phone {
  margin-left: initial;
  text-align: initial;
  margin-bottom: initial;
  margin-right: 16px;
}
.footer .footer__buttons {
  margin-bottom: initial;
  margin-right: 16px;
}
.footer__copyright {
  margin-left: initial;
  text-align: initial;
}
.footer__grid {
  gap: 0 16px;
}
.footer__navigation {
  gap: 16px;
}
.footer__support-grid {
  gap: 16px;
}

.modal .promo__form-item--check {
  grid-column: initial;
}

@media (max-width: 1250px) {
  .promo__details {
    padding: 16px 0;
  }
}